<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">生态系统</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>帮助</h4></li>
    <li><ul>
      <li><a href="https://forum.fhir.org/" class="nav-link" target="_blank">论坛</a></li>
      <li><a href="https://chat.fhir.org/" class="nav-link" target="_blank">聊天室</a></li>
      <li><a href="https://events.fhir.org/meetups/" class="nav-link" target="_blank">聚会</a></li>
    </ul></li>
    <li><h4>开发者工具</h4></li>
    <li>
      <ul>
        <li><a href="https://github.com/FHIRjs/FHIR-devtools" class="nav-link" target="_blank">各种编程语言开发SDK</a></li>
        <li><a href="https://github.com/FHIRjs/FHIR-devtools" class="nav-link" target="_blank">与国内主流HIT供应商数据库表结构的映射关系</a></li>
        <li><a href="https://github.com/FHIRjs/FHIR-devtools" class="nav-link" target="_blank">移动端应用、服务端应用、CDSS和临床科研应用的Demo</a></li>

      </ul>
    </li>
    <li><h4>支持FHIR的国内外供应商和案例</h4></li>
    <li><ul>
      <li><a href="https://router.FHIRjs.org/" class="nav-link" target="_blank">xxxx</a></li>
      <li><a href="https://FHIRx.FHIRjs.org/" class="nav-link" target="_blank">xxxx</a></li>
      <li><a href="https://ssr.FHIRjs.org/" class="nav-link" target="_blank"> xxxx</a></li>
    </ul></li>
    <li><h4>信息</h4></li>
    <li><ul>
      <li><a href="https://news.FHIRjs.org" class="nav-link" target="_blank">周刊</a></li>
      <li><a href="https://github.com/FHIRjs/FHIR/projects/6" class="nav-link" target="_blank">Roadmap</a></li>
      <li><a href="https://events.FHIRjs.org/" class="nav-link" target="_blank">活动</a></li>
      <li><a href="https://twitter.com/FHIRjs" class="nav-link" target="_blank">Twitter</a></li>
      <li><a href="https://medium.com/the-FHIR-point" class="nav-link" target="_blank">博客</a></li>
      <li><a href="https://weibo.com/u/7003536698/home?wvr=5&topnav=1&mod=logo" class="nav-link" target="_blank">微博</a></li>
      <li><a href="https://FHIRjobs.com/?ref=FHIRjs" class="nav-link" target="_blank">工作</a></li>
    </ul></li>
    <li><h4>资源列表</h4></li>
    <li><ul>
      <li><a href="https://github.com/FHIRjs" class="nav-link" target="_blank">官方仓库</a></li>
      <li><a href="https://curated.FHIRjs.org/" class="nav-link" target="_blank">FHIR awesome</a></li>
      <li><a href="https://github.com/FHIRjs/awesome-FHIR" class="nav-link" target="_blank">FHIR 资源</a></li>
    </ul></li>
  </ul>
</li>
