<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">生态系统</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>帮助</h4></li>
    <li><ul>
      <li><a href="https://forum.FHIRjs.org/" class="nav-link" target="_blank">论坛</a></li>
      <li><a href="https://chat.FHIRjs.org/" class="nav-link" target="_blank">聊天室</a></li>
      <li><a href="https://events.FHIRjs.org/meetups/" class="nav-link" target="_blank">聚会</a></li>
    </ul></li>
    <li><h4>工具</h4></li>
    <li>
      <ul>
        <li><a href="https://github.com/FHIRjs/FHIR-devtools" class="nav-link" target="_blank">Devtools</a></li>
        <li><a href="https://cli.FHIRjs.org/" class="nav-link" target="_blank">FHIR CLI</a></li>
        <li><a href="https://FHIR-loader.FHIRjs.org" class="nav-link" target="_blank">FHIR Loader</a></li>
      </ul>
    </li>
    <li><h4>核心插件</h4></li>
    <li><ul>
      <li><a href="https://router.FHIRjs.org/" class="nav-link" target="_blank">FHIR Router</a></li>
      <li><a href="https://FHIRx.FHIRjs.org/" class="nav-link" target="_blank">FHIRx</a></li>
      <li><a href="https://ssr.FHIRjs.org/" class="nav-link" target="_blank">FHIR 服务端渲染</a></li>
    </ul></li>
    <li><h4>信息</h4></li>
    <li><ul>
      <li><a href="https://news.FHIRjs.org" class="nav-link" target="_blank">周刊</a></li>
      <li><a href="https://github.com/FHIRjs/FHIR/projects/6" class="nav-link" target="_blank">Roadmap</a></li>
      <li><a href="https://events.FHIRjs.org/" class="nav-link" target="_blank">活动</a></li>
      <li><a href="https://twitter.com/FHIRjs" class="nav-link" target="_blank">Twitter</a></li>
      <li><a href="https://medium.com/the-FHIR-point" class="nav-link" target="_blank">博客</a></li>
      <li><a href="https://FHIRjobs.com/?ref=FHIRjs" class="nav-link" target="_blank">工作</a></li>
    </ul></li>
    <li><h4>资源列表</h4></li>
    <li><ul>
      <li><a href="https://github.com/FHIRjs" class="nav-link" target="_blank">官方仓库</a></li>
      <li><a href="https://curated.FHIRjs.org/" class="nav-link" target="_blank">FHIR 优选</a></li>
      <li><a href="https://github.com/FHIRjs/awesome-FHIR" class="nav-link" target="_blank">FHIR 资源</a></li>
    </ul></li>
  </ul>
</li>
