<li class="nav-dropdown-container language">
  <a class="nav-link">多语言</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="http://hl7.org/fhir/" class="nav-link" target="_blank">English</a></li>

    <!-- <li><a href="http://hl7.org/fhir/<%- page.path %>" class="nav-link" target="_blank">English</a></li> -->
    <li><a href="https://sites.google.com/site/fhirjp//<%- page.path %>" class="nav-link" target="_blank">日本語</a></li>
    <li><a href="http://fhir-ru.github.io/index.html/<%- page.path %>" class="nav-link" target="_blank">Русский</a></li>
  </ul>
</li>
