<li class="nav-dropdown-container support-FHIR">
  <a href="/support-FHIRjs/" class="nav-link">支持 FHIR</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-FHIR/#One-time-Donations" class="nav-link">一次性赞助</a></li>
      <li><a href="/support-FHIR/#Recurring-Pledges" class="nav-link">周期性赞助</a></li>
      <!-- <li><a href="https://www.smallsticker.com/%E8%B4%B4%E7%BA%B8/FHIR.html" class="nav-link">贴纸</a></li> -->
      <!-- <li><a href="https://FHIR.threadless.com" target="_blank" class="nav-link">T 恤商店</a></li> -->
    </ul></li>
  </ul>
</li>
