<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'spec') { %>
      <% if (fileName === 'toc') { %>
        <li><h3>FHIR 标准入门</h3></li>
      <% } %>
      <% if (fileName === 'foundation-module') { %>
        <li><h3>模块一 Welcome to FHIR</h3></li>
      <% } %>
      <% if (fileName === 'foundation-module') { %>
        <li><h3>模块二 基础版块</h3></li>
      <% } %>
      <% if (fileName === 'exchange-module') { %>
        <li><h3>模块三 数据交换版块</h3></li>
      <% } %>
      <% if (fileName === 'terminology-module') { %>
        <li><h3>模块四 术语版块</h3></li>
      <% } %>
      <% if (fileName === 'conformance-module') { %>
        <li><h3>模块五 标准符合性/一致性版块</h3></li>
      <% } %>
      <% if (fileName === 'secpriv-module') { %>
        <li><h3>模块六 安全和隐私版块</h3></li>
      <% } %>
      <% if (fileName === 'implsupport-module') { %>
        <li><h3>模块七 开发实现版块</h3></li>
      <% } %>
      <% if (fileName === 'administration-module') { %>
        <li><h3>模块八 管理类资源版块</h3></li>
      <% } %>                 
      <% if (fileName === 'administration-module') { %>
        <li><h3>模块九 管理类资源版块</h3></li>
      <% } %>      
      <% if (fileName === 'administration-module') { %>
        <li><h3>模块十 管理类资源版块</h3></li>
      <% } %>      
      <% if (fileName === 'administration-module') { %>
        <li><h3>模块十一 管理类资源版块</h3></li>
      <% } %>      

      
      <% } %>    
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
